---
import Work from './Work.astro'
import works from '../data/works.json'
---

<div>
  <h2 class='text-4xl text-zinc-600 dark:text-zinc-300 font-light mb-10'>
    Experiencia
  </h2>

  <div class='flex justify-center gap-4 flex-wrap mt-4'>
    <ol class='relative border-s border-zinc-300 dark:border-zinc-600'>
      {
        works.data.map((project) => (
          <Work
            title={project.title}
            subtitle={project.subtitle}
            date={project.date}
            description={project.description}
            skills={project.skills}
          />
        ))
      }
    </ol>
  </div>
</div>
